# Dependency directories
node_modules/
jspm_packages/
node_modules

.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
!.vscode/*.code-snippets
# Local History for Visual Studio Code
.history/
# General
**/.DS_Store
*.DS_Store
.DS_Store
# Optional npm cache directory
.npm
# Icon must end with two \r
Icon
# Thumbnails
._*
